.fudou-heater
  .fudou-heater__left
    .logo
  .fudou-heater__right
    .top
      Top
    .customer
      Customer
    .otoiawase
      お問い合わせ
    .consul
      consulting
.between
.fudou-slide
  .slide-main
    = image_tag '/top.jpg',size:"800x450",class:"slide-top"
    %h2
      「家」「不動産」に関わる全ての人に、
      %br
      頼られる存在
    = image_tag '/top2.jpg',size:"800x450",class:"slide-2"
    .image-text2
      %li 「ああしたい！」「こうしたい！」
      %li 全ての不動産に関わる人の悩みを
      %li 解決します！
.between
.customer-main
  .customer-main__top
    Customer
  .customer-main__main
    .left
      .top
      .bottom
        買いたい人へ
    .center
      .top
      .bottom
        借りたい人へ
    .right
      .top
      .bottom
        %li 空室に悩む
        %li オーナー様へ


        
  .customer-main__content1
    .customer-main__content1--fukidasi
    .customer-main__content1--into
      .content1-top
      
  .customer-main__content2.none
    .customer-main__content2--fukidasi
    .customer-main__content2--into
      .content1-top

  .customer-main__content3.none
    .customer-main__content3--fukidasi
    .customer-main__content3--into
      .content1-top


.between
.otoiawase-main
  .otoiawase-main__top
    お問い合わせ
  .otoiawase-main__main
    .otoiawase-main__main--left
      %i.fab.fa-facebook-square
      %i.fa.fa-comment
        %li.facebook facebookへの連絡はこちら
        %li.xxxx 　　　
    .otoiawase-main__main--right
      %i.fab.fa-twitter
      %i.fa.fa-comment
        %li.facebook メールフォームはこちら
        %li.xxxx 　　　


.consul-main
  .consul-main__top
    Consulting